.why-us {
	.same-sections {
		// grid-template-columns: 2fr 3fr;
		// grid-gap: 4rem;

		@include device(tab-port) {
			grid-template-columns: 1fr;
			justify-content: center;
			justify-items: center;
			grid-gap: 3rem 0;
		}

		&__txt-side {
			h3 {
				line-height: 1.2;
			}
		}

		&__pic-side {
			justify-self: end;
			align-self: center;

			img {
				box-shadow: $box-shadow-box;
				width: 100%;

				@include device(tab-port) {
					width: 70vw;
				}
			}

			@include device(tab-port) {
				justify-self: center;
			}
		}

		&__link {
			&::before {
				background-color: $blue;
			}
			color: $black;
		}
	}
}
